@font-face {
  font-family: BMWTypeNext;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/BMWTypeNextProTT-Light.woff2') format('woff2');
}

@font-face {
  font-family: BMWTypeNext;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BMWTypeNextProTT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: BMWTypeNext;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/BMWTypeNextProTT-Bold.woff2') format('woff2');
}

@font-face {
  font-family: BMWTypeNextProTT;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/BMWTypeNextProTT-Light.woff2') format('woff2');
}

@font-face {
  font-family: BMWTypeNextProTT;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BMWTypeNextProTT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: BMWTypeNextProTT;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/BMWTypeNextProTT-Bold.woff2') format('woff2');
}
